<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Alter</title>
        <meta name="description" content=""/>
        <meta name="robots" content="index, follow"/>
        <meta property="og:title" content="Alter"/>
        <meta property="og:image" content="http://alterframework.com/assets/images/logo.png"/>
        <meta property="og:site_name" content="Alter"/>
        <meta property="og:url" content="http://alterframework.com"/>
        <meta property="og:description" content="A Microframework for WordPress Applications"/>
        <meta property="og:type" content="website"/>
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link rel="stylesheet" href="http://alterframework.com/assets/css/all.css"/>
        <link rel="stylesheet" href="http://alterframework.com/assets/css/custom.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
        <script src="//use.typekit.net/yjz4fyo.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body style="padding-top: 5em">

          <div class="wrapper">
    <div class="container-fluid">

        <header class="site-header">
          <div class="site-title"><a href="http://alterframework.com">Alter</a></div>
          <div class="site-slogan">A Microframework for WordPress Applications</div>
        </header>

    
    <div class="row">
    <div class="col-md-12">
        <p class="lead">
            Alter introduces a new way to develop WordPress Themes. With Models, Routes and Views you can easily develop large WordPress applications or websites.
        </p>
        <pre class="language-php"><code>Route::get(&#039;/cars&#039;, function() {
  $this-&gt;render(&#039;cars.index&#039;, [&#039;car&#039; =&gt; Car::all()]);
});
</code></pre>
    </div>
</div>

<div class="row section">
    
    <div class="col-md-4">
        <a class="slim-button" href="http://alterframework.com/docs"><i class="fa fa-book"></i><span>Documentation</span></a>
    </div>
    <div class="col-md-4">
        <a class="slim-button" href="http://github.com/alterfw/alter/issues"><i class="fa fa-question-circle"></i><span>Support</span></a>
    </div>
    <div class="col-md-4">
        <a class="slim-button" href="http://github.com/alterfw/alter/blob/master/README.md#contributing"><i class="fa fa-wrench"></i><span>Contribute</span></a>
    </div>

</div>

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider"><span>Features</span></h1>

        
                <div class="row">
        
        <div class="col-md-6">
            <h2><i class="fa fa-plane"></i> Router</h2>
            <p>Alter provides a simple router built in the WordPress rewrite API using Fastroute that maps
route callbacks to specific HTTP request
methods and URIs.</p>
        </div>

        
        
        
        <div class="col-md-6">
            <h2><i class="fa fa-exchange"></i> HTTP</h2>
            <p>Alter has easy-to-use request and response abstractions
that let you inspect and manipulate
HTTP messages' method, status, URI, headers, cookies, and body.</p>
        </div>

                </div>
        
        
                <div class="row">
        
        <div class="col-md-6">
            <h2><i class="fa fa-file-text"></i> Templates</h2>
            <p>Alter uses Twig as built-in as template engine, so you can create
powerful templates using layouts, template blocks, etc.</p>
        </div>

        
        
        
        <div class="col-md-6">
            <h2><i class="fa fa-database"></i> Models</h2>
            <p>Alter creates a binding from Models to Post Types to you can easily create custom fields and retrieve items from the models through a very simple API.
</p>
        </div>

                </div>
        
        
    </div>
</div>

<div class="row section">
    <div class="col-md-12">
        <h1 class="divider"><span>Getting Started</span></h1>
        <p>
            To get started with Alter you will need to create a new theme by running this command in your <code>wp-content/themes</code> directory:
        </p>
        <pre><code class="language-bash">composer create-project alterfw/alter mytheme</code></pre>
        <p>
            This command will create a bootstrap project to getting started with Alter. See more about Alter in the <a href="http://alterframework.com/docs">Docs</a>.
        </p>

    </div>
</div>

    </div>

    <footer class="site-footer">
        <p>Developed by <a href="http://vilar.cc">Sergio Vilar</a> and <a href="https://github.com/alterfw/alter/graphs/contributors" target="_blank">contributors</a>.</p>
    </footer>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://alterframework.com/assets/scripts/build/production.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a target="_blank" href="https://github.com/alterfw/alter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>
